@page
@model DatabaseSystemIntegration.Pages.Interface.AccessItemModel
@{

    <form style="text-align: left; margin-bottom: 20px; method="post" asp-page-handler="">
        @if (HttpContext.Session.GetString("ItemType") == "Project")
        {
            <h3 class="text-center mb-4">Project</h3>

            <div class="border p-4 rounded bg-light mx-auto" style="max-width: 800px; max-height: 700px; overflow-y: auto;">
                <h4 class="text-center">@Model.project.ProjectName</h4>
                <p class="mb-2 text-muted">@Model.project.Description</p>
                <p class="mb-2 text-muted">@Model.project.Status.ProjectStatusName</p>
                <p class="mb-2"><strong>Start Date:</strong> @Model.project.StartDate</p>
                <p class="mb-2"><strong>Due Date:</strong> @Model.project.DueDate</p>
                <p class="mb-2"><strong>End Date:</strong> @Model.project.EndDate</p>
                <select asp-for="ProjectStatusID" class="form-control">
                    @foreach (var status in Model.ProjectStatus)
                    {
                        <option value="@status.ProjectStatusID">@status.ProjectStatusName</option>
                    }
                </select>
                <button asp-page-handler="UpdateProject" class="btn-close-white">Update Project</button>
            </div>

            <h3 class="text-center mt-5 mb-4">Project Tasks</h3>
            <table class="table table-bordered table-striped mt-4 mx-auto" style="max-width: 800px;">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Task in @Model.project.ProjectTasks)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectTask" asp-route-id="@Task.TaskID">@Task.TaskName</button>
                            </td>
                            <td>@Task.Description</td>
                            @if (Task.Completed == true)
                            {
                                <td>Complete</td>
                            }
                            else
                            {
                                <td>Incomplete</td>
                            }
                            @foreach (var User in Task.GetEmployees())
                            {
                                <td>@User.Name</td>
                            }
                            <td>@Task.StartDate</td>
                            <td>@Task.DueDate</td>
                            @if (@Task.EndDate > DateOnly.MinValue)
                            {
                                <td>@Task.EndDate</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>

            <h3 class="text-center mt-5 mb-4">Project Notes</h3>
            <table class="table table-bordered table-striped mt-4 mx-auto" style="max-width: 800px; max-height: 700px; overflow-y: auto;">
                <thead class="thead-light">
                    <tr>
                        <th>Note</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Note in @Model.project.ProjectNotes)
                    {
                        <tr>
                            <td>@Note.Notes</td>
                            <td>@Note.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (HttpContext.Session.GetString("ItemType") == "Grant")
        {
            <h3 class="text-center mb-4">Grant</h3>

            <div class="border p-4 rounded bg-light mx-auto" style="max-width: 800px; max-height: 700px; overflow-y: auto;">
                <h4 class="text-center">@Model.grant.GrantName</h4>
                <p class="mb-2"><strong>Grant Category:</strong> @Model.grant.Category.CategoryName</p>
                @if (Model.grant.Status.GrantStatusName == "Accepted")
                {
                    <p class="text-success">@Model.grant.Status.GrantStatusName</p>
                }
                @if (@Model.grant.Status.GrantStatusName == "Pending")
                {
                    <p class="text-warning">@Model.grant.Status.GrantStatusName</p>
                }
                @if (@Model.grant.Status.GrantStatusName == "Rejected")
                {
                    <p class="text-danger">@Model.grant.Status.GrantStatusName</p>
                }
                <p class="mb-2"><strong>Update Status:</strong></p>
                <select asp-for="GrantStatusID" class="form-control">
                    @foreach (var status in Model.GrantStatus)
                    {
                        <option value="@status.StatusID">@status.GrantStatusName</option>
                    }
                </select>
                <button class="btn-close-white" asp-page-handler="UpdateGrantStatus"> <strong>Update Grant Status</strong></button>
                <p class="mb-2"><strong>Award Date:</strong> @Model.grant.AwardDate</p>
                <p class="mb-2"><strong>Submission Date:</strong> @Model.grant.SubmissionDate</p>
                <p class="mb-2"><strong>Submission Date:</strong> @Model.grant.DueDate</p>
                <p class="mb-2"><strong>Award Amount:</strong> @Model.grant.Amount</p>
                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Model.grant.ProjectID">
                    <strong>Associted Project: @Model.grant.GetProject().ProjectName</strong>
                </button>
                </div>
        }
    </form>
    


}
