@page
@model DatabaseSystemIntegration.Pages.Interface.CreateUser
@{
    ViewData["Title"] = "Create User";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Name">Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="AccountID">Account</label>
            <div class="col-sm-10">
                <select asp-for="AccountID" class="form-control">
                    @foreach (var account in Model.Accounts)
                    {
                        <option value="@account.getInfoID()">@account.getUsername()</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="PartnerID">Partner</label>
            <div class="col-sm-10">
                <select asp-for="PartnerID" class="form-control">
                    @foreach (var partner in Model.Partners)
                    {
                        <option value="@partner.PartnerID">@partner.BusName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="UserTypeID">User Role</label>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select asp-for="UserTypeID" class="form-control" multiple>
                        @foreach (var Role in Model.Roles)
                        {
                            <option value="@Role.RoleID">@Role.RoleName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="UserTypeID">User Type</label>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select asp-for="UserTypeID" class="form-control" multiple>
                        @foreach (var type in Model.Types)
                        {
                            <option value="@type.UserTypeID">@type.UserTypeName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-secondary" asp-page-handler="PopulateHandler">Populate</button>
                <button type="submit" class="btn btn-danger" asp-page-handler="ClearHandler">Clear</button>
            </div>
        </div>
    </form>
</div>
