@page
@model DatabaseSystemIntegration.Pages.Interface.Project_DashboardModel
@{
    //Noah Kurtz, **WORKED INDIVIDUALLY**
    //loop through each string array and set the column headers to array values

    <form method="post">
        @using Microsoft.AspNetCore.Mvc.Rendering

        <style>
            .table-container {
                margin: 20px auto;
                max-width: 100%;
            }
        </style>

        @if (HttpContext.Session.GetString("UserType") == "Admin" ||
    HttpContext.Session.GetString("UserType") == "BusPartner" ||
    HttpContext.Session.GetString("UserType") == "BusRep" ||
    HttpContext.Session.GetString("UserType") == "Faculty")
        {
            <h2 class="text-center mb-4">Grants</h2>
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Grant Name</th>
                            <th>Award Amount ($)</th>
                            <th>Submission Date</th>
                            <th>Award Date</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Lead Faculty</th>
                            <th>Associated Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var grant in Model.Grants)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectGrant" asp-route-id="@grant.Grant_ID">@grant.Grant_Name</button>
                                </td>
                                <td>@grant.Amount</td>
                                <td>@grant.Submission_Date</td>
                                <td>@grant.Award_Date</td>
                                <td>@grant.Grant_Category_Name</td>
                                @if (@grant.Grant_Status == "Accepted")
                                {
                                    <td class="text-success">@grant.Grant_Status</td>
                                }
                                @if (@grant.Grant_Status == "Pending")
                                {
                                    <td class="text-warning">@grant.Grant_Status</td>
                                }
                                @if (@grant.Grant_Status == "Rejected")
                                {
                                    <td class="text-danger">@grant.Grant_Status</td>
                                }
                                <td>@grant.Lead_Faculty_Name</td>
                                <td>@grant.Project_Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (HttpContext.Session.GetString("UserType") == "Admin" || HttpContext.Session.GetString("UserType") == "Faculty")
        {
            <h2 class="text-center mt-5 mb-4">Projects Associated With Grants</h2>
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Project Name</th>
                            <th>Project Description</th>
                            <th>Faculty</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.FacultyProject)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectGrantProject" asp-route-id="@project.Grant_Project_ID">@project.Grant_Project_Name</button>
                                </td>
                                <td>@project.Grant_Project_Desc</td>
                                <td>@project.Faculty_Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (HttpContext.Session.GetString("UserType") == "Employee" || HttpContext.Session.GetString("UserType") == "Admin")
        {
            <h2 class="text-center mt-5 mb-4">Business Projects</h2>
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Project Name</th>
                            <th>Project Description</th>
                            <th>Project Start Date</th>
                            <th>Project Due Date</th>
                            <th>Project End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var busProject in Model.BusProjects)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectBusProject" asp-route-id="@busProject.Bus_Project_ID">@busProject.Project_Name</button>
                                </td>
                                <td>@busProject.Description</td>
                                <td>@busProject.Start_Date</td>
                                <td>@busProject.Due_Date</td>
                                @if (@busProject.End_Date > DateOnly.MinValue)
                                {
                                <td>@busProject.End_Date</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    }
    </form>
}
