@page
@model DatabaseSystemIntegration.Pages.Interface.Project_DashboardModel
@{
    //Noah Kurtz, **WORKED INDIVIDUALLY**
    //loop through each string array and set the column headers to array values

    <form method="post">
        @using Microsoft.AspNetCore.Mvc.Rendering

        <style>
            .table-container {
            margin: 20px auto;
            max-width: 100%;
            }
        </style>
        <h2 class="text-center mb-4">Grants</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Grant Name</th>
                        <th>Award Amount ($)</th>
                        <th>Submission Date</th>
                        <th>Due Date</th>
                        <th>Award Date</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Associated Project</th>
                    </tr>
                </thead>
                <tbody>
                    @if(HttpContext.Session.GetString("UserType") == "Admin")
                        @foreach (var grant in Model.AllGrants)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectGrant" asp-route-id="@grant.GrantID">@grant.GrantName</button>
                                </td>
                                <td>@grant.Amount</td>
                                <td>@grant.SubmissionDate</td>
                                <td>@grant.DueDate</td>
                                <td>@grant.AwardDate</td>
                                <td>@grant.Category.CategoryName</td>
                                @if (@grant.Status.GrantStatusName == "Accepted")
                                {
                                    <td class="text-success">@grant.Status.GrantStatusName</td>
                                }
                                @if (@grant.Status.GrantStatusName == "Pending")
                                {
                                    <td class="text-warning">@grant.Status.GrantStatusName</td>
                                }
                                @if (@grant.Status.GrantStatusName == "Rejected")
                                {
                                    <td class="text-danger">@grant.Status.GrantStatusName</td>
                                }
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@grant.ProjectID">@grant.GetProject().ProjectName</button>
                                </td>
                            </tr>
                        }
                    else {
                        @foreach (var Project in Model.AssignedProjects)
                        {
                            @foreach(var grant in Project.ProjectAssignment.ProjectGrants){
                                <tr>
                                    <td>
                                        <button class="btn btn-link" asp-page-handler="SelectGrant" asp-route-id="@grant.GrantID">@grant.GrantName</button>
                                    </td>
                                    <td>@grant.Amount</td>
                                    <td>@grant.SubmissionDate</td>
                                    <td>@grant.AwardDate</td>
                                    <td>@grant.Category.CategoryName</td>
                                    @if (@grant.Status.GrantStatusName == "Accepted")
                                    {
                                        <td class="text-success">@grant.Status.GrantStatusName</td>
                                    }
                                    @if (@grant.Status.GrantStatusName == "Pending")
                                    {
                                        <td class="text-warning">@grant.Status.GrantStatusName</td>
                                    }
                                    @if (@grant.Status.GrantStatusName == "Rejected")
                                    {
                                        <td class="text-danger">@grant.Status.GrantStatusName</td>
                                    }
                                    <td>
                                        <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@grant.ProjectID">@grant.GetProject().ProjectName</button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <h2 class="text-center mt-5 mb-4">Projects</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>End Date</th>
                        <th>Project Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if(HttpContext.Session.GetString("UserType") == "Admin"){
                        @foreach (var Project in Model.AllProjects)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Project.ProjectID">@Project.ProjectName</button>
                                </td>
                                <td>@Project.Description</td>
                                <td>@Project.StartDate</td>
                                <td>@Project.DueDate</td>
                                @if (@Project.EndDate > DateOnly.MinValue)
                                {
                                    <td>@Project.EndDate</td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var Project in Model.AssignedProjects)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Project.ProjectID">@Project.ProjectAssignment.ProjectName</button>
                                </td>
                                <td>@Project.ProjectAssignment.Description</td>
                                <td>@Project.ProjectAssignment.StartDate</td>
                                <td>@Project.ProjectAssignment.DueDate</td>
                                @if (@Project.ProjectAssignment.EndDate > DateOnly.MinValue)
                                {
                                    <td>@Project.ProjectAssignment.EndDate</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <h2 class="text-center mt-5 mb-4">Project Tasks</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Task Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Users Assigned</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (HttpContext.Session.GetString("UserType") == "Admin")
                    {
                        @foreach (var Task in Model.AllTasks)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-link" asp-page-handler="SelectTask" asp-route-id="@Task.TaskID">@Task.TaskName</button>
                                </td>
                                <td>@Task.Description</td>
                                @if (Task.Completed == true)
                                {
                                    <td>Complete</td>
                                }
                                else
                                {
                                    <td>Incomplete</td>
                                }
                                @foreach (var User in Task.GetEmployees())
                                {
                                    <td>@User.Name</td>
                                }
                                <td>@Task.StartDate</td>
                                <td>@Task.DueDate</td>
                                @if (@Task.EndDate > DateOnly.MinValue)
                                {
                                    <td>@Task.EndDate</td>
                                }

                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var Task in Model.AssignedTasks)
                        {
                                <tr>
                                    <td>
                                        <button class="btn btn-link" asp-page-handler="SelectTask" asp-route-id="@Task.TaskID">@Task.TaskAssignment.TaskName</button>
                                    </td>
                                    <td>@Task.TaskAssignment.Description</td>
                                   @if (Task.TaskAssignment.Completed == true)
                                    {
                                        <td>Complete</td>
                                    }
                                    else
                                    {
                                        <td>Incomplete</td>
                                    }
                                @foreach (var User in Task.TaskAssignment.GetEmployees())
                                    {
                                        <td>@User.Name</td>
                                    }
                                    <td>@Task.TaskAssignment.StartDate</td>
                                    <td>@Task.TaskAssignment.DueDate</td>
                                    @if (@Task.TaskAssignment.EndDate > DateOnly.MinValue)
                                    {
                                        <td>@Task.TaskAssignment.EndDate</td>
                                    }

                                </tr>
                            }
                    }
                </tbody>
            </table>
        </div>
    </form>
}
