@page
@model DatabaseSystemIntegration.Pages.Interface.SearchModel
@{

    <div class="container">
        <h2>Generate Report</h2>

        <form method="post">
            <div class="form-group" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 20px;">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="form-label" for="Date1">Start Date</label>
                        <input asp-for="Date1" class="form-control" type="date" />
                    </div>
                    <div class="col-sm-5 offset-sm-2">
                        <label class="form-label" for="Date2">End Date</label>
                        <input asp-for="Date2" class="form-control" type="date" />
                    </div>
                </div>
            </div>
            <div class="form-group row" style="margin-bottom: 20px;">
                <label class="col-sm-2 col-form-label" for="StatusSelected">Status</label>
                <div class="col-sm-4">
                    <select asp-for="StatusSelected" class="form-control">
                        <option value="">Select Status</option>
                        @foreach (var status in Model.Status)
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary" asp-page-handler="FilterDueDate">Filter by Due-Date Range</button>
                    <button type="submit" class="btn btn-secondary" asp-page-handler="FilterStatus">Filter by Status</button>
                </div>
            </div>
        </form>
    </div>



    <form method="post">
        @using Microsoft.AspNetCore.Mvc.Rendering
        <style>
            .table-container {
            margin: 20px auto;
            max-width: 100%;
            }
        </style>
        <h2 class="text-center mb-4">Grants</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Grant Name</th>
                        <th>Award Amount ($)</th>
                        <th>Submission Date</th>
                        <th>Due Date</th>
                        <th>Award Date</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Associated Project</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var grant in Model.Grants)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectGrant" asp-route-id="@grant.GrantID">@grant.GrantName</button>
                            </td>
                            <td>@grant.Amount</td>
                            <td>@grant.SubmissionDate</td>
                            <td>@grant.DueDate</td>
                            @if (@grant.AwardDate != DateOnly.MinValue){
                                <td>@grant.AwardDate</td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                            <td>@grant.Category.CategoryName</td>
                            @if (@grant.Status.GrantStatusName == "Accepted")
                            {
                                <td class="text-success">@grant.Status.GrantStatusName</td>
                            }
                            @if (@grant.Status.GrantStatusName == "Pending")
                            {
                                <td class="text-warning">@grant.Status.GrantStatusName</td>
                            }
                            @if (@grant.Status.GrantStatusName == "Rejected")
                            {
                                <td class="text-danger">@grant.Status.GrantStatusName</td>
                            }
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@grant.GetProject().ProjectID">@grant.GetProject().ProjectName</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h2 class="text-center mt-5 mb-4">Projects</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Project Name</th>
                        <th>Project Status</th>
                        <th>Project Description</th>
                        <th>Project Start Date</th>
                        <th>Project Due Date</th>
                        <th>Project End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Project in Model.Projects)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Project.ProjectID">@Project.ProjectName</button>
                            </td>
                            <td>@Project.Status.ProjectStatusName</td>
                            <td>@Project.Description</td>
                            <td>@Project.StartDate</td>
                            <td>@Project.DueDate</td>
                            @if (@Project.EndDate > DateOnly.MinValue)
                            {
                                <td>@Project.EndDate</td>
                            }
                            else
                            {
                                <td> - </td> 
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h2 class="text-center mt-5 mb-4">Tasks</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Task Name</th>
                        <th>Task Status</th>
                        <th>Task Description</th>
                        <th>Task Start Date</th>
                        <th>Task Due Date</th>
                        <th>Task End Date</th>
                        <th>Associated Project</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Task in Model.ProjectTasks)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectTask" asp-route-id="@Task.TaskID">@Task.TaskName</button>
                            </td>
                            @if (@Task.Completed == true){
                                <td>Complete</td>
                            }
                            else
                            {
                                <td>Incomplete</td>
                            }
                            <td>@Task.Description</td>
                            <td>@Task.StartDate</td>
                            <td>@Task.DueDate</td>
                            @if (@Task.EndDate > DateOnly.MinValue)
                            {
                                <td>@Task.EndDate</td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Task.ProjectID">@Task.TaskName</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
}

