@page
@model DatabaseSystemIntegration.Pages.Interface.SearchModel
@{

    <form method="post">
        <h4 class="text-black" style="text-align: center;"><strong>Select Filter:</strong></h4>
        <br />
        <select style="width: 300px; height: 300px; text-align: center; margin: 0 auto;" asp-for="SelectedFilter" class="form-control">
            @foreach (var v in Model.Filters)
            {
                <option value="@v" style="text-align: center; font-size: 24px;">@v</option>
            }
        </select>
        <p class="text-black" style="text-align: left;"><strong>Select Grant Status to Filter:</strong></p>
        <select style = "max-width:150px;" asp-for="StatusID" class="form-control">
            @foreach (var v in Model.GrantStatus)
            {
                <option value="@v.GrantStatusName">@v.StatusID</option>
            }
        </select>
        <br/>
        <p class="text-black" style="text-align: left;"><strong>Select Due Date Range:</strong></p>
        <input style="max-width:150px;" type="date" asp-for="Date1" class="form-control" />
        <input style="max-width:150px;" type="date" asp-for="Date2" class="form-control" />
        <p class="text-black" style="text-align: left;"><strong>Select Status to Filter:</strong></p>

        <select style = "max-width:150px;" asp-for="StatusID" class="form-control">
            @foreach (var v in Model.GrantStatus)
            {
                <option value="@v.GrantStatusName">@v.StatusID</option>
            }
        </select>

        <select style="max-width:150px;" asp-for="StatusID" class="form-control">
            @foreach (var v in Model.ProjectStatus)
            {
                <option value="@v.ProjectStatusName">@v.ProjectStatusID</option>
            }
        </select>

        <select style="max-width:150px;" asp-for="StatusID" class="form-control">
            <option value="Complete">Complete</option>
            <option value="Incomplete">Incomplete</option>
        </select>

        <br>  <button type="submit" asp-page-handler="" class="btn btn-primary">Set Filter</button>  <br>
    </form>

    <form method="post">
        @using Microsoft.AspNetCore.Mvc.Rendering
        <style>
            .table-container {
            margin: 20px auto;
            max-width: 100%;
            }
        </style>
        <h2 class="text-center mb-4">Grants</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Grant Name</th>
                        <th>Award Amount ($)</th>
                        <th>Submission Date</th>
                        <th>Due Date</th>
                        <th>Award Date</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Associated Project</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var grant in Model.Grants)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectGrant" asp-route-id="@grant.GrantID">@grant.GrantName</button>
                            </td>
                            <td>@grant.Amount</td>
                            <td>@grant.SubmissionDate</td>
                            <td>@grant.DueDate</td>
                            <td>@grant.AwardDate</td>
                            <td>@grant.Category.CategoryName</td>
                            @if (@grant.Status.GrantStatusName == "Accepted")
                            {
                                <td class="text-success">@grant.Status.GrantStatusName</td>
                            }
                            @if (@grant.Status.GrantStatusName == "Pending")
                            {
                                <td class="text-warning">@grant.Status.GrantStatusName</td>
                            }
                            @if (@grant.Status.GrantStatusName == "Rejected")
                            {
                                <td class="text-danger">@grant.Status.GrantStatusName</td>
                            }
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@grant.GetProject().ProjectID">@grant.GetProject().ProjectName</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h2 class="text-center mt-5 mb-4">Projects</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Project Name</th>
                        <th>Project Status</th>
                        <th>Project Description</th>
                        <th>Project Start Date</th>
                        <th>Project Due Date</th>
                        <th>Project End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Project in Model.Projects)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Project.ProjectID">@Project.ProjectName</button>
                            </td>
                            <td>@Project.Status.ProjectStatusName</td>
                            <td>@Project.Description</td>
                            <td>@Project.StartDate</td>
                            <td>@Project.DueDate</td>
                            @if (@Project.EndDate > DateOnly.MinValue)
                            {
                                <td>@Project.EndDate</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h2 class="text-center mt-5 mb-4">Tasks</h2>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Task Name</th>
                        <th>Task Status</th>
                        <th>Task Description</th>
                        <th>Task Start Date</th>
                        <th>Task Due Date</th>
                        <th>Task End Date</th>
                        <th>Associated Project</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Task in Model.ProjectTasks)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-link" asp-page-handler="SelectProject" asp-route-id="@Task.ProjectID">@Task.TaskName</button>
                            </td>
                            @if (@Task.Completed == true){
                                <td>Complete</td>
                            }
                            else
                            {
                                <td>Incomplete</td>
                            }
                            <td>@Task.Description</td>
                            <td>@Task.StartDate</td>
                            <td>@Task.DueDate</td>
                            @if (@Task.EndDate > DateOnly.MinValue)
                            {
                                <td>@Task.EndDate</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
}

